@font-face {
    font-family: Lato;
    src: url("../Lato-Regular.ttf"); /* url of the font */
}


html, body {
    margin: 0;
    height: 100%;
    align-items: center;
    font-family: Lato;
}
.container {
    display:flex;
    justify-content: center;
    width: 100%;
    height: 78.125rem;
}

.restaurant-layout-container {
    width: 62.5rem;
    height: 62.5rem;
    border: black 1px ridge;
    background-image: url("../img/basic-outline.png");
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.grid-square {
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: red 1px dashed;*/
    position: relative;
}

.grid-legend {
    grid-area: 10 / 1 / span 1 / span 10;
}
.option-menu {
    width: 15%;
    border: black 1px ridge;
    height: 62.5rem;
}
h1 {
    display: flex;
    justify-content: center;
    align-items:center;
}

.option p {
    margin-left: 3%;
    color: #808080;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black 1px ridge;
    background-color: #1B211A;
    position: absolute;
    inset: 12px;
    box-sizing: border-box;
    border-radius: 0.25rem;
}

.round {
    border-radius: 100%;
}

.table-reserved {
    background: #1B211A
    repeating-linear-gradient(
            45deg,
            #1B211A,
            #1B211A 20px,
            #ffd180 20px,
            #ffd180 40px
    );
}

.table-ineligible {
    background: #1B211A
    repeating-linear-gradient(
            45deg,
            #1B211A,
            #1B211A 20px,
            gray 20px,
            gray 40px
    );
}

.table-favored {
    /*todo*/
}
.table-selected {
    inset: 10px;
    background: #1B211A
    repeating-linear-gradient(
            -45deg,
            #1B211A,
            #1B211A 20px,
            #8BAE66 20px,
            #8BAE66 40px
    );
}

.table-seat-count {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 0.75rem;
    border: #1B211A 3px solid;
    padding: 0.25rem;
}

.datetime-option {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.datetime-selection {
    width: 50%;
}
.selection {
    display: block;
    margin: 0 auto;
    width: 95%;
    height:3rem;
}

select {
    background-color: white;
}

.datetime-selection select {
}

#date-selection {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-right: 0;
    margin-right: 0;
    text-align: right;
}
#time-selection {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-left: 0;
    margin-left: 0;
    direction: rtl; /*Weird workaround to get arrow on the left*/
    text-align: left;

}
.occupancy-img {
    width: 1rem;
    height: 1rem;
}

/*
Button taken from uiverse.io
https://uiverse.io/NorthFishHasNa/soft-turtle-49
*/
.reserve-button {
    display: block;
    border-radius: 4px;
    background-color: #3d405b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 95%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1rem auto;
}

.reserve-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.reserve-button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

.reserve-button:hover span {
    padding-right: 15px;
}

.reserve-button:hover span:after {
    opacity: 1;
    right: 0;
}